<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Actualizar persona</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
  
    <h1>Actualizar persona</h1>

    <form action="/updatePerson" method="POST">
      <label for="nss">NSS:</label>
      <input type="text" id="nss" name="nss" value="<%= `${myPerson.nss}` %>"><br><br>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" value="<%= `${myPerson.nombre}` %>"><br><br>
      <label for="edad">Edad:</label>
      <input type="text" id="edad" name="edad" value="<%= `${myPerson.edad}` %>"><br><br>
      <label for="tipoSangre">Tipo de Sangre:</label>
      <input type="text" id="tipoSangre" name="tipoSangre" value="<%= `${myPerson.tipoSangre}` %>"><br><br>
      <label for="objId">ID:</label>
      <input type="text" id="objId" name="objId" value="<%= `${myPerson._id}` %>"><br><br>
      <button type="submit" class="update-button">Actualizar</button>
    </form>
  </body>
</html>